# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/Project_Default.xml
/AndroidProjectSystem.xml
/caches
/libraries
/modules.xml
/navEditor.xml
/assetWizardSettings.xml
/misc.xml
/runConfigurations.xml
/appInsightsSettings.xml
/gradle.xml
/markdown.xml
